.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 320px;
  width: 320px;
  background-color: #fff;
  border: 2px solid black
}

.cell {
  /* height: calc((80vh + 1px) / 8);
  width: calc((80vh) / 8); */
  font-weight: 700;
  font-size: 28px;
}

.black {
  background-color: #000;
  color: white
}

.green {
  background-color: green;
}